@font-face {
  font-family: 'Playfair Display';
  src: url('../letras/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Silenter';
  src: url('../letras/silenter/Silenter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mirage';
  src: url('../letras/made_mirage/MADE-Mirage-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fffaf1;
}
/***********************************
  SECCIÓN HERO
***********************************/

.hero {
  position: relative;
  height: 100vh; /* ocupa toda la pantalla */
  width: 100%;
  background: url("../img/DPJ01323.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

/* Capa sutil para mejorar contraste del texto */
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.8s ease forwards;
  animation-delay: 0.5s; /* espera medio segundo antes de iniciar */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content h1 {
  font-family: "Silenter", sans-serif;
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 0.1rem;
  color: #fffaf1;
}

.hero-content p {
  font-family: "Mirage", serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0px;
  color: #fffaf1;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.5rem;
  }
}

/***********************************
  SECCIÓN NUESTRA HISTORIA
***********************************/

#historia {
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 2rem; 
  padding: 2rem 2rem 0 1rem;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#historia img {
  max-width: 500px; 
  height: auto;
}

#historia h2 {
  font-family: "Silenter", serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: rgb(185, 152, 8);
  margin-bottom: 1.5rem;
}

#historia p {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  color: #394846;
  max-width: 600px;
  text-align: left;
}

/* Responsive (móviles y tablets) */
@media (max-width: 800px) {
  #historia {
    flex-direction: column;
    padding: 0 0 0 0;
    margin-left: 0;
    gap: 0;
    text-align: center;
  }

  #historia img {
    max-width: 100%;
    margin: 0 0 0 0;
  }

   #historia h2 {
    font-size: 3.5rem;
    margin: 0 auto;
  }

  #historia p {
    font-size: 1.15rem;
    line-height: 1.8;
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }
}


@media (min-width: 800px) {
  #historia {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/***********************************
  SECCIÓN FECHA DE LA BODA
***********************************/
.sectionFecha {
  padding: 2rem 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.sectionFecha #imgAnillos {
  width: 300px;
  height: auto;
  margin-bottom: 2rem;
}

.sectionFecha #imgFecha {
  width: 60%;
  height: auto;
}

/* Responsivo */
@media (max-width: 800px) {
  .sectionFecha {
    padding: 2rem 1rem 2rem 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .sectionFecha #imgAnillos {
  width: 200px;
  height: auto;
  margin-bottom: 2rem;
  }
  .sectionFecha #imgFecha {
  width: 80%;
  height: auto;
}
}
/***********************************
  SECCIÓN UBICACIÓN
***********************************/
.sectionUbicacion {
  width: 700px;
  text-align: center;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f1e4;
  border-radius: 8px;
  margin: 0px auto 2rem auto ;
  margin-top: 4rem;
}

.sectionUbicacion #titulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#titulo img{
  width: 50px;
  height: auto;
}

.sectionUbicacion h2 {
  font-family: "Silenter", serif;
  font-size: 3rem;
  font-weight: 400;
  color: #b99808;
}

.sectionUbicacion #nombreLugar {
  font-family: "Mirage", serif;
  font-size: 2rem;
  color: #b99808;
  margin-bottom: 0.5rem;
}

.sectionUbicacion #direccion {
  width: 80%;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: #394846;
  margin-bottom: 2rem;
}

.btnMapa {
  display: inline-block;
  background-color: #b99808;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.btnMapa:hover {
  background-color: #c4a94d;
  transform: scale(1.03);
}

/* 📱 Responsive */
@media (max-width: 800px) {
  .sectionUbicacion {
    width: 400px;
  }

  #titulo img{
    width: 30px;
    height: auto;
  }

  .sectionUbicacion h2 {
    font-size: 2.2rem;
  }

  .sectionUbicacion #nombreLugar {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .sectionUbicacion #direccion {
    width: 90%;
    font-size: 1rem;
  }

  .btnMapa {
    font-size: 0.9rem;
  }
}
/***********************************
  SECCIÓN PALABRA RHEMA
***********************************/
.sectionRhema {
  padding: 2rem 2rem;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.sectionRhema img{
  display: block;
  margin: 0 auto 1rem auto;
  width: 100px;
  height: auto;
}

.sectionRhema p {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #394846;
  text-align: center;
  margin-bottom: 0.5rem;
}

.sectionRhema span {
  font-family: "Silenter", serif;
  font-size: 1.5rem;
  color: #b99808;
  float: right;
}

@media (max-width: 800px) {
  .sectionRhema {
    width: 400px;
  }

  .sectionRhema img{
    width: 90px;
  }

  .sectionRhema p {
    font-size: 1rem;
  }

  .sectionRhema span {
    font-size: 1rem;
  }
}





  

